<mat-card *ngIf="problem" class="problem-card">
  <mat-card-title>
    <h2 class="mat-h2">{{problem.title}}</h2>
    <small class="mat-small">
      {{problem.summary}} ({{problem.difficulty}})
    </small>
   </mat-card-title>

  <mat-card-content>
    <p class="mat-body" [innerHTML]="problem.description"></p>
  </mat-card-content>

  <mat-card-footer class="solution">

    <!-- Answer form if unsolved-->
    <div *ngIf="!problem.solved">
      <mat-form-field appearance="standard">
        <mat-label>Solution</mat-label>
        <input matInput type="text" placeholder="Answer" #answer>
      </mat-form-field>
      <button mat-button (click)="checkAnswer(answer.value)">
        Submit
      </button>
    </div>

    <!-- Solved icon if solved -->
    <mat-form-field *ngIf="problem.solved" class="solved-text">
      Solved <mat-icon>check_circle</mat-icon>
    </mat-form-field>

  </mat-card-footer>
</mat-card>
